/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .chakra-stack .css-rtl01x {
        flex-direction: column;
    }
    /* .chakra-input .css-1cjy4zv {
        width: 100%;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   /* .chakra-stack .css-rtl01x {
        flex-direction: column;
    } */
    /* .css-1cjy4zv {
        width: 20%;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .css-rtl01x {
        flex-direction: row;
    }
}